# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
*.egg

# Project outputs
experiments/traces/
!experiments/traces/.gitkeep

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
